mixin table-1(icon,title)
    .table-1
        table 
            thead 
                tr.check-box 
                    th.check-box
                        .checkbox-wrapper-23
                            input#check-23-1(type="checkbox")
                            label(
                                style="--size: 20px" 
                                for="check-23-1"
                                )
                                svg(viewBox="0,0,50,50")
                                    path(d="M5 30 L 20 45 L 45 5")
                    th.name-tour 
                        div Tên tour
                    th.anh-dai-dien
                        div Ảnh đại diện
                    th.price
                        div Giá
                    th.remain
                        div Còn lại
                    th.position
                        div Vị trí
                    th.state
                        div Trạng thái
                    th.tao-boi
                        div Tạo bởi
                    th.update
                        div #{title}
                    th.action
                        div Hành động
            tbody 
                tr 
                    td.check-box 
                        .checkbox-wrapper-23
                            input#check-23-2(type="checkbox")
                            label(
                                style="--size: 20px" 
                                for="check-23-2"
                                )
                                svg(viewBox="0,0,50,50")
                                    path(d="M5 30 L 20 45 L 45 5")
                    td.name-tour
                        div Tour Hạ Long
                    td.anh-dai-dien 
                        img(src="assets/image/halong.png", alt="") 
                    td.price 
                        div NL: 1.900.000đ
                        div TE: 1.600.000đ
                        div EB: 1.000.000đ
                    td.remain 
                        div NL: 30
                        div TE: 20
                        div EB: 10
                    td.position
                        div 1
                    td.status
                        .working Hoạt động
                    td.tao-boi
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.update
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.action
                        .inner-list 
                            div 
                                i(class=icon)
                            div 
                                i.fa-solid.fa-trash-can
                tr 
                    td.check-box
                        .checkbox-wrapper-23
                            input#check-23-3(type="checkbox")
                            label(
                                style="--size: 20px" 
                                for="check-23-3"
                                )
                                svg(viewBox="0,0,50,50")
                                    path(d="M5 30 L 20 45 L 45 5")
                    td.name-tour
                        div Tour Hạ Long
                    td.anh-dai-dien 
                        img(src="assets/image/halong.png", alt="") 
                    td.price 
                        div NL: 1.900.000đ
                        div TE: 1.600.000đ
                        div EB: 1.000.000đ
                    td.remain 
                        div NL: 30
                        div TE: 20
                        div EB: 10
                    td.position
                        div 1
                    td.status
                        .pause Tạm dừng
                    td.tao-boi
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.update
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.action
                        .inner-list 
                            div 
                                i(class=icon)
                            div 
                                i.fa-solid.fa-trash-can
                tr 
                    td.check-box
                        .checkbox-wrapper-23
                            input#check-23-4(type="checkbox")
                            label(
                                style="--size: 20px" 
                                for="check-23-4"
                                )
                                svg(viewBox="0,0,50,50")
                                    path(d="M5 30 L 20 45 L 45 5")
                    td.name-tour
                        div Tour Hạ Long
                    td.anh-dai-dien 
                        img(src="assets/image/halong.png", alt="") 
                    td.price 
                        div NL: 1.900.000đ
                        div TE: 1.600.000đ
                        div EB: 1.000.000đ
                    td.remain 
                        div NL: 30
                        div TE: 20
                        div EB: 10
                    td.position
                        div 1
                    td.status
                        .working Hoạt động
                    td.tao-boi
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.update
                        div Lê Văn A
                        div 16:30 - 20/10/2024
                    td.action
                        .inner-list 
                            div 
                                i(class=icon)
                            div 
                                i.fa-solid.fa-trash-can